html{
    background-image: url(https://th.bing.com/th/id/R.9ffb17e153ee63841c2fe3b754f19062?rik=UKf5TpH7llEU9g&pid=ImgRaw&r=0);
    background-size: cover;
    padding: 5px;
    box-sizing:  border-box;
    background-repeat: no-repeat;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{    
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    background:rgba(0,0,0,0.4);
    border-radius: 12px;
}

section, header, footer{
    background:rgba(0,0,0,0.6);
    color: aquamarine;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border: 1px;
}

section{
    font-size: 1em;
}

footer{
    border-radius: 12px;
}
.gomb{
    background:rgba(0,0,0,0.3);
    /*font-size: 2em;*/
    color: aquamarine;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border: 1px;
    border-radius: 12px;
}
h2{
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

#c{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
    border-radius: 12px;
}

a:hover{
    background:rgba(0,0,0,0.6);
    text-shadow: 2px 2px 1px white;
}

.container{
    max-width: 992px;
    margin: 0 auto;
}

input{
    border: 0;
    padding: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border:1px solid gray;
    background:rgba(0,0,0,0.1);
}

nav, .logo{
    flex: 1;
}

.toggleNav {
    display: none;
}

.navbar {
    background-color: #007BFF; /* Háttérszín */
    border-bottom: 2px solid #0056b3; /* Alsó határ */
    border-radius: 12px;
}

.navbar-brand {
    color: wheat !important; /* Cím szín */
    font-weight: bold; /* Betű vastagság */
    border-radius: 12px;
    text-align: center;
}

.navbar-nav .nav-link .gomb1{
    color: wheat; /* Menüpont szövegszín */
    font-weight: bold; /* Betű vastagság */
    border-radius: 12px;
}

.navbar-nav .nav-link:hover {
    color: black; /* Hover állapot szövegszín */
    border-radius: 12px;
}

#elrejtett-szoveg {
    display: none; /* Az alapértelmezett állapotban a szöveg el van rejtve */
    color: #c7c7c7; /* A rejtett szöveg színe (opcionális) */
    font-size: 16px; /* A szöveg mérete (opcionális) */
    font-weight: bold; /* A szöveg vastagsága (opcionális) */
    border-radius: 12px;
    text-align: center;
    
}

button, .logo{
    background-color: navajowhite; /* Gomb háttérszíne */
    color: black; /* Gomb szövegszíne */
    padding: 10px 20px; /* Gomb belső térkitöltése */
    border: none; /* Gomb kerete nélküli */
    cursor: pointer; /* Mutató kurzor, amikor ráviszed a kurzort */
    border-radius: 12px;
    text-align: center;
}

button:hover{
    background-color: #FFFFE0; /* Gomb háttérszíne hover állapotban */
    border-radius: 12px;
    text-align: center;
}
.sponzorok{
    display: flex; /* A tartalom vízszintes elrendezése */
    justify-content: space-around; /* A tartalom középre igazítása és térközök az elemek között */
    align-items: center; /* Az elemek középre igazítása függőlegesen */
    padding: 20px; /* Külső térkitöltés az elem körül */    
    color: white;
}

.sponzorok img{
    max-width: 100px; /* Maximális szélesség a logóknak */
    height: auto; /* Automatikus magasság, hogy az arányok megmaradjanak */
    margin: 10px; /* Térköz az egyes logók között */
    text-align: center;
}
img{
    width: auto;
    height: auto;
    border-radius: 12px;
}

hr{
    background-color:rgba(255,255,255);
    padding: 3px;

}

#lg2, #lg3, #lg6, #lg8, #lg12{
    background-color: white;
    border-radius: 12px;
}

.card{
    margin: 10px auto;
    float: left;    
}

.custom-carousel {
    width: 80%; /* A Carousel szélességét igényeidnek megfelelően állítsd be */
    margin: auto;
}

/* Lapozó gombok testreszabása */
.carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: #fff; /* Lapozó ikon színe */
}

  /* Képek méretének testreszabása */
.carousel-inner img {
    width: 100%;
    height: auto;
}
.link:hover:active{
 background: bisque;
}